.app-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.app-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.pokemon-list,
.pokemon-details-container,
.move-details-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
    min-height: 80vh;
}
ul {
    list-style-type: none; 
    padding: 0; 
}

.pokemon-name {
    display: inline-block; 
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.pokemon-name:hover {
    background-color: #e0e0e0;
}
ul.move-list li {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

}
.type-normal { color: #A8A878; }
.type-fire { color: #F08030; }
.type-water { color: #6890F0; }
.type-electric { color: #F8D030; }
.type-grass { color: #78C850; }
.type-ice { color: #98D8D8; }
.type-fighting { color: #C03028; }
.type-poison { color: #A040A0; }
.type-ground { color: #E0C068; }
.type-flying { color: #A890F0; }
.type-psychic { color: #F85888; }
.type-bug { color: #A8B820; }
.type-rock { color: #B8A038; }
.type-ghost { color: #705898; }
.type-dragon { color: #7038F8; }
.type-dark { color: #705848; }
.type-steel { color: #B8B8D0; }
.type-fairy { color: #EE99AC; }

.pokemon-team {
    margin-top: 20px;
  }
  
  .team-container {
    display: flex;
  }
  
  .team-slot {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .empty-slot {
    color: #999;
  }
  
  .team-slot img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .nav-link {
    padding: 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    text-shadow: 0 0 2px yellow; /* Add yellow outline */
  }
  
  .nav-link:hover {
    background-color: #e0e0e0;
  }

  /* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.login-container h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
}

.login-container label {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin-top: 10px; /* Adjust as needed */
}

.login-container input {
  padding: 8px;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.login-container button {
  padding: 8px 16px;
  margin-top: 10px; /* Adjust as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-shadow: 0 0 2px yellow; /* Add yellow outline */
}

.login-container button:hover {
  background-color: #e0e0e0;
}